<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:sharedUserId="android.uid.phone" android:installLocation="internalOnly"
	android:versionCode="9000002005"
	android:versionName="0.2.5" 
	package="com.mb.toggle2g">

	<!--
		This tells the activity manager to not delay any of our activity start
		requests, even if they happen immediately after the user presses home.
	-->
	<uses-permission android:name="android.permission.STOP_APP_SWITCHES" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application android:icon="@drawable/icon" android:process="com.android.phone"
		android:label="@string/app_name">
		<activity android:name=".Toggle2G" android:label="@string/app_name"
                  android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service android:name=".Toggle2GService" android:label="@string/app_name"
			android:persistent="true" android:exported="true">
		</service>

		<receiver android:name=".Toggle2GBoot">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</receiver>

		<receiver android:name=".Toggle2GNotificationReceiver">
			<intent-filter>
				<action android:name="com.mb.notification.ENABLE_3G" />
			</intent-filter>
		</receiver>

		<receiver android:name=".Toggle2GWidgetReceiver">
			<intent-filter>
				<action android:name="com.mb.toggle.widget.COMMAND" />
			</intent-filter>
		</receiver>

	</application>

</manifest>

